/* RESPONSIVE */
.skills-section {
    background: #D1D2D6;
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
}

.main-section-myskill {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col-section-myskill {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
}

.col-section-myskill:last-child {
    margin-top: 30px;
}

.col-section-myskill h2 {
    font-weight: 700;
    color: #486189;
    margin-bottom: 15px;
}

.skill-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

/* DESKTOP */
@media (min-width: 992px) {
    .skills-section {
        height: 500px;
    }

    .col-section-myskill:last-child {
        margin-top: 0;
    }

    .col-section-myskill {
        height: 400px;
        margin-top: 0px;
    }
}