/* RESPONSIVE */
.doing-list {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    /* user-select: none; */
    /* border: 2px solid black; */
}

.doing-list h2 {
    color: #486189;
    font-weight: 700;
    margin-bottom: 30px;
}

/* .do-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
} */

.do-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
    justify-content: space-between;
}

/* DESKTOP */
@media (min-width: 992px) {
    .doing-list {
        margin: 100px auto;
    }

    .do-list {
        grid-template-columns: auto auto auto;
    }
}