.portfolio-item {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.portfolio-item:hover {
    cursor: pointer;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.portfolio-item:hover img {
    transform: scale(1.11);
    filter: brightness(45%);
}


.portfolio-hover-content {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    margin-top: -255px;
    width: 340px;
    height: 255px;
    transition: all 0.3s ease-in-out;
}

.portfolio-hover-content p {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.portfolio-hover-content p>span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}