/* RESPONSIVE */
.custom-modal-dialog {
    max-width: 100% !important;
    /* max-width: 1000px !important; */
}

.modal-view {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-view * {
    margin: 0;
}

#contained-modal-title-vcenter h4,
.modal-view h5,
.modal-view h6 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

.col-lg-5 {
    height: 100%;
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
}

.col-lg-5 h5 {
    margin-top: 10px;
}

.col-lg-5 p,
.col-lg-5 span,
.col-lg-7 p {
    font-family: 'Lato', sans-serif;
    /* line-height: 1.5; */
}

.col-lg-7 {
    margin-top: 40px;
}

.col-lg-7 img {
    margin: 10px auto;
    width: 100%;
    box-shadow: 0px 2px 15px rgba(139, 139, 139, 0.25);
    /* height: 100%; */
}

.col-lg-7 p {
    margin-top: -8px;
    padding-bottom: 15px;
}

.portfolio-tool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-tool span {
    font-family: 'Lato', sans-serif;
    margin: 5px 5px 0 5px;
    border: 2px solid #486189;
    border-radius: 6px;
    padding: 3px 6px;
}

.portfolio-tool span:first-child {
    margin-left: 0;
}

.btn-modal-prev {
    margin-top: 20px;
}

/* DESKTOP */
@media (min-width: 992px) {
    .modal-view {
        flex-direction: row;
    }

    .col-lg-7 {
        margin-top: 0;
    }

    .custom-modal-dialog {
        max-width: 80% !important;
    }
}